In [64]:
# import pandas for dataframes
import pandas as pd

In [66]:
# read list of players into dataframe, use latin for non-English characters
players = pd.read_csv("nba_seasons.csv", sep=",", encoding = "latin")

# select players in current year and select relevant columns
players = players.loc[players["Year"] == 2019]
players = players[["Player","ID", "Tm"]]

# remove rows of players not on current team (ie. traded players)
players = players[players["Tm"] != "TOT"]
players = players.drop_duplicates(subset = "ID", keep="last")

# create csv of current players with IDs and team info
players.to_csv("current_players.csv")
players.head()

                     Player         ID   Tm
0              Steven Adams  adamsst01  OKC
1               Bam Adebayo  adebaba01  MIA
2         LaMarcus Aldridge  aldrila01  SAS
3  Nickeil Alexander-Walker  alexani01  NOP
4             Grayson Allen  allengr01  MEM